<div class="row">
	<div class="col text-center">
		<img src="img/andika.jpg" class="img-thumbnail rounded-circle" width="100">
		<h1 class="display-4">Andika Rachadi</h1>
		<p class="lead">Developer</p>
	</div>
</div>